@model SGM_MVC.Models.Cidadao.Pessoa;

@{
    ViewData["Title"] = "Informações Imóvel";
}

<div>
    <h4>Informações do Proprietário / Imóvel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            CPF / CNPJ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class="col-sm-2">
            Endereço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.Endereco.Rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imovel.Endereco.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.Endereco.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imovel.Endereco.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.Endereco.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imovel.Endereco.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.Endereco.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imovel.Endereco.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.Endereco.Estado)
        </dd>
        <dt class="col-sm-2">
            Tipo de Imóvel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.TipoImovel)
        </dd>
        <dt class="col-sm-2">
            Tipo de Imposto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imovel.TipoImposto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
